.card {
    background-color: color-mix(in hsl, hsl(0 0% 50% / 1) 20%, var(--body-bg));
    background-image: linear-gradient(#ffffff00, var(--body-bg));
    border: 1px solid var(--color-body);
    border-radius: 26px;
    cursor: pointer;
    padding: 10px 40px;
}