.grid-dashboard {
    display: grid;  
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.span-2 {
    grid-row: span 2;
}

@media screen and (min-width: 900px) {
    .grid-dashboard {
        width: 870px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 1200px) {
    .grid-dashboard {
        width: 1170px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
    }
}