header.header-top {
    padding: 0;
}



.top-nav>li>a {
    text-decoration: none;
    padding: 0.8rem 1.3rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-body)
}

.logo {
    filter: invert(var(--invert));
}

.hamburger {
    width: 2rem;
    position: relative;

    &,
    &:before,
    &:after {
        content: '';
        display: block;
        height: 0.2rem;
        transition: transform .5s ease-out;
        border-radius: 10px;
        background-color: var(--color-body);

    }

    &:before,
    &:after {
        position: absolute;
        width: 100%;
    }

    &:before {
        top: -0.5rem;
    }

    &:after {
        top: 0.5rem;
    }

}

.hamburger {
    transition: background-color .5rem ease-out, transform .5s ease-out;
}

.toggle-menu-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 1.5rem;
}

:root:has(.toggle-menu-input:checked) .toggle-menu-hamburger {

    & .hamburger {
        background-color: transparent;
    }

    & .hamburger:before {
        transform: translateY(0.5rem) rotate(45deg);
    }

    & .hamburger:after {
        transform: translateY(-0.5rem) rotate(-45deg);
    }
}


:root:has(.toggle-menu-input:checked) .top-nav {
    display: block;
}

:root:has(.toggle-menu-input:not(checked)) .top-nav {
    display: none;
}

.mobile-only {
    display: block;
}

@media screen and (min-width: 900px) {
    .mobile-only {
        display: none;
    }

    :root:has(.toggle-menu-input:checked) .top-nav,
    :root:has(.toggle-menu-input:not(checked)) .top-nav {
        display: flex;
    }

    ul.top-nav {
        margin-right: -15px;
    }
}



.account-thumb {
    &>img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
    }
}


.btn-account {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .6rem 1rem;
    background-color: transparent;
    color: var(--color-body);
    border: 0 solid transparent;
    font-weight: bold;
    margin-left: -16px;
    cursor: pointer;
    flex-wrap: nowrap;
    white-space: nowrap;
}

/* 
    --hamburger-shadow: #ffcc00;
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.3s ease-in-out;
    
    &:hover, &:hover::before, &:hover::after {
        box-shadow: 0 -0.5rem 0 1rem var(--hamburger-shadow), 0 0.5rem 0 1rem var(--hamburger-shadow);
    }
*/