header.header-top {
    padding: 0;
}

.top-nav>li>a {
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1.1rem;
}

.logo {
    filter: invert(var(--invert));
}

.hamburger {
    width: 2rem;
    position: relative;

    &,
    &:before,
    &:after {
        content: '';
        display: block;
        height: 0.2rem;
        transition: transform .5s ease-out;
        border-radius: 10px;
        background-color: var(--color-body);

    }

    &:before,
    &:after {
        position: absolute;
        width: 100%;
    }

    &:before {
        top: -0.5rem;
    }

    &:after {
        top: 0.5rem;
    }

}

.hamburger {
    transition: background-color .5rem ease-out, transform .5s ease-out;
}

.toggle-menu-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 1.5rem;
}

:root:has(#toggle-menu:checked) .toggle-menu-hamburger {

    & .hamburger {
        background-color: transparent;
    }

    & .hamburger:before {
        transform: translateY(0.5rem) rotate(45deg);
    }

    & .hamburger:after {
        transform: translateY(-0.5rem) rotate(-45deg);
    }
}


:root:has(#toggle-menu:checked) .top-nav {
    display: block;
}

:root:has(#toggle-menu:not(checked)) .top-nav {
    display: none;
}








/* 
    --hamburger-shadow: #ffcc00;
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.3s ease-in-out;
    
    &:hover, &:hover::before, &:hover::after {
        box-shadow: 0 -0.5rem 0 1rem var(--hamburger-shadow), 0 0.5rem 0 1rem var(--hamburger-shadow);
    }
*/