/* theme switcher */
:root:has(#theme-switcher:checked) {
    /* dark theme */
    --body-bg: #000;
    --color-body: #fff;
    --invert: 1;
}

.theme-switcher {

    &:focus-visible,
    &:focus-within,
    &:focus {
        outline: 2px solid #fff;
    }

    & label {
        width: 1.5rem;
        height: 1.5rem;
        display: block;
    }

    & svg {
        width: 100%;
        height: 100%;
    }
}

/* theme switcher from the header */
#theme-switcher:checked+label {
    & :first-child {
        fill: red;
        display: inline-block
    }

    & :last-child {
        display: none;
    }
}

#theme-switcher:not(:checked)+label {
    & :first-child {
        display: none;
    }

    & :last-child {
        display: inline-block;
        fill: green;
    }
}

/* components */
header.top {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

.top-nav>li>a {
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1.1rem;
}